<script>
export let data = []
export let ylinear

let makepath = (d) => {
    let path = "M 0,"+ "30" ;
    d.forEach((value, idx) => {
      path += " " + idx + "," + ylinear(value);
    });

    let camino = path + " L 0,45 Z" ;
    return camino;
  };

  


</script> 

<path d={makepath(data)}> </path>

<style>
    path {
     fill: blue;
     stroke: blue;
    }
  
  </style>