
<script>
import Building from './_design_1_buildings.svelte'
export let data = {}
//export let margin.left
export let height 
export let ylinear
export let tableau

//$: console.log(data)




</script>


{#each Object.keys(data) as building_name, building_indx}
      <g transform="translate({ 5 },{(building_indx*(height) + 15)/16 - 10 })"><text font-size= 70%> {building_name} </text></g>
      <g transform="translate({ -20 },{(building_indx*(height) + 15)/16 - 8 })"><text font-size= 40%> Dec 1 </text></g>
      <g transform="translate({ 610 },{(building_indx*(height) + 15)/16 - 8 })"><text font-size= 40%> Dec 31 </text></g>
      <g transform= "translate(0, {building_indx*(height)/16})">
            <Building data={data[building_name]} {ylinear} {tableau} {height}/>

      </g>
{/each}