<script>
    export let data =[]
    export let height 
    //export let ylinear
    export let tableau
    import {extent} from 'd3-array'
    import { scaleLinear} from 'd3-scale'

    $: console.log(extent(data.map((d)=> d)))

    let ylinear = scaleLinear()
    .domain(extent(data.map((d)=> d)))
    .range([1, 8.5]);

    //let xlinear = scaleLinear()
    //.domain([0,744])
    //.range([0, 700]);



</script>

{#each data as observation, i}
<rect x = {i} y ={(height + 15)/17 - ylinear(observation)- 30}  width={1.5} height= {ylinear(observation)}  fill-opacity=1 style={"fill:" + tableau(data)}></rect>
<rect x = {i} y ={0}  width={1.5} height= {ylinear(observation)} fill="steelblue" fill-opacity=1 style={"fill:" + tableau(data)}></rect>
           
{/each}