<script>
    export let data = []
    export let ylinear;
    export let xlinear;
    
    let makepath = (d) => {
        let path = "M";
        d.forEach((value, idx) => {
          path += " " + Math.sin(xlinear(idx))*ylinear(value) + "," + ylinear(value)*Math.cos(xlinear(idx));
        });
        
        return path;
      };
    
    </script> 
    
    <path d={makepath(data)}> </path>
    
    <style>
        path {
         fill: blue;
         stroke: blue;
         opacity: 0.5;
        }
      
      </style>