<script>
    export let dato = [];
    export let xlinear;
    
    let makepath = (d) => {
        let path = "M 0,"+ xlinear(0) ;
        d.forEach((value, idx) => {
          path += " " + idx + "," + xlinear(value);
        });
        
        let camino = path + "L 0,0 Z" ;
        return camino;
      };
    
      

    </script> 
    
    <path d={makepath(dato)}> </path>
    
    <style>
        path {
         fill: #F9B416;
         stroke: #F9B416;
        }
      
      </style>