<script>
    export let dato = []
    export let yheating;
    export let xheating;
    
    let makepath = (d) => {
        let path = "M";
        d.forEach((value, idx) => {
          path += " " + Math.sin(xheating(idx))*yheating(value) + "," + yheating(value)*Math.cos(xheating(idx));
        });
        
        return path;
      };
    
    </script> 
    
    <path d={makepath(dato)}> </path>
    
    <style>
        path {
         fill: red;
         stroke: red;
         opacity: 0.5;
        }
      
      </style>