<script>
  import Plot from './_design_1_plot.svelte'
  // Size and margins
  import {onMount} from 'svelte'
  import {json} from 'd3-fetch'
  import { claim_text } from 'svelte/internal';
  import { scaleLinear} from 'd3-scale'
  import * as d3 from 'd3-scale-chromatic';
  import {scaleOrdinal} from 'd3-scale';
  import {extent} from 'd3-array'


  const width =650;
  const height = 533.33;
  let height2 = 400
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  let tableau = scaleOrdinal(d3.schemeTableau10);

  let data = [];
    onMount(async () => {
        data = await json('/data/hourly_heating_december.json');

    });
    $: console.log(data)

    let transformed_data = {}
    $:{
      data.forEach((d) =>{
        if ( !(d.city in transformed_data)){
          transformed_data[d.city] = {}
        }
        if ( !(d.buildingtype in transformed_data[d.city])) {
          transformed_data[d.city][d.buildingtype] = []
        }
        transformed_data[d.city][d.buildingtype].push(d.total_heating_energy)
      })
    }
    $: console.log(transformed_data)

    //$: console.log(extent(data.map((d)=> d.total_heating_energy)))
    

   // let ylinear = scaleLinear()
   // .domain([0,630])
   // .range([1, 4]);

   // let xlinear = scaleLinear()
   // .domain([0,744])
   // .range([0, 700]);

let ciudad = "Baltimore";


function get(ciudad){
 let present;
  if (ciudad != "Baltimore"){
   present = transformed_data.filter( d => d == ciudad);}

  else{
    present = transformed_data}
    return present;
      }

</script>

<div>
<svg {width} {height} >
  <g transform="translate({margin.left + 10}, {margin.top + 10})">
  <!-- <g transform="translate(0 ,{height/3 + 15})">-->

  <!--{#each Object.keys(transformed_data) as cityx, city_indx}--> 
  <!--<g transform="translate(0 ,{city_indx*height/3 + 15})">-->
    <Plot data={transformed_data[ciudad]}  tableau={tableau} height={height}/><!--ylinear={ylinear}-->
    <!--<Controls {data} bind:value={ciudad}/-->
  <!--</g>-->
  <!--{/each}-->
  
  </g>

  
</svg>
</div>
<div class = "form-check">
  <select id="city-select" class="form-check" type="radio" bind:value={ciudad}><option value="Baltimore">Baltimore</option><option value="Chicago">Chicago</option><option value="Los Angeles">Los Angeles</option></select>
  <select id="city-select" class="form-check" ><option value="Baltimore">With in Buiding Type</option><option value="Chicago">Across Building Types</option></select>
</div>



<style>
  svg {
    border: 0px solid black;
    border-radius: 5px;
  }

</style>
