<script>

import {onMount} from 'svelte';
import {json} from 'd3-fetch';
import {scaleLinear} from 'd3-scale'
import Path from './_design_2_path.svelte'
import Calor from './_design_2_heating.svelte'
import {extent} from 'd3-array'
  // Size and margins
  const width = 900;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  let data =[];
  onMount(async () => {
      data = await json('/data/daily_heating_cooling.json');

    });
  $: console.log(data)

  let transformed_data = {}
    $:{
      data.forEach((d) =>{
        if ( !(d.city in transformed_data)){
          transformed_data[d.city] = []
        }
        transformed_data[d.city].push(d.cooling)
      })
    }
    $: console.log(transformed_data)

    let heating_data = {}
    $:{
      data.forEach((d) =>{
        if ( !(d.city in heating_data)){
          heating_data[d.city] = []
        }
        heating_data[d.city].push(d.heating)
      })
    }
    $: console.log(heating_data)

    //$: console.log(extent(data.map((d)=> d.heating)))
    //$: console.log(extent(data.map((d)=> d.cooling)))
    //$: console.log(data.map((d)=> d.heating))

    let ylinear = scaleLinear()
    .domain([1780,50000])
    .range([100, 0]);

    let xlinear = scaleLinear()
    .domain([0,365])
    .range([0, 2*3.14]);

    let yheating = scaleLinear()
    .domain([1800,150000])
    .range([100, 0]);

    let xheating = scaleLinear()
    .domain([0,365])
    .range([0, 2*3.14]);

</script>

<svg {width} {height}>
  <g transform="translate({margin.left-40}, {margin.top})">
    <circle cx= 180 cy= 50% r= 100></circle >
    <circle cx= 480 cy= 50% r= 100></circle >
    <circle cx= 780 cy= 50% r= 100></circle >
    
      {#each Object.keys(heating_data) as cityh, indx}
    <g transform="translate({indx*width/3 + 180},125)">
      <Calor dato={heating_data[cityh]} yheating={yheating} xheating={xheating} ></Calor>
    </g>

    {/each}

    {#each Object.keys(transformed_data) as cityx, i}
    <g transform="translate({i*width/3 + 180},125)">
      <Path data={transformed_data[cityx]} ylinear={ylinear} xlinear={xlinear} ></Path>
      <g transform="translate(-35,-120)"><text>{cityx}</text> </g>

      <line x1= "0" y1="-100" x2="0" y2="100"></line>
      <line x1= "-100" y1="0" x2="100" y2="0"></line>
      <g transform="translate(-5,-105)"><text>0</text> </g>
      <g transform="translate(-110,0)"><text>9</text> </g>
      <g transform="translate(-5,112)"><text>6</text> </g>
      <g transform="translate(100,0)"><text>3</text> </g>
    </g>

    {/each}

    
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }

  circle {
    stroke: black;
    fill: none;
    border-radius: 30px;
  }

  line {
    stroke: black;
    border-radius:20px ;
  }
</style>
