<script>
  import {onMount} from 'svelte';
  import {json} from 'd3-fetch';
//import object from 'd3-interpolate/src/object';
  import { scaleLinear} from 'd3-scale'
  import Path from './_design_3_week.svelte'
  import Gas from './_design_3_gas.svelte'
  import {extent} from 'd3-array'

  // Size and margins
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

let weekheight = 100;
let weekwith = 250; 


let data =[];
  onMount(async () => {
      data = await json('/data/hourly_electricity_vs_gas_december.json');

    });
  $: console.log(data)

  $: console.log(extent(data.map((d)=> d.total_electrity)))
  $: console.log(extent(data.map((d)=> d.total_gas)))

  let transformed_data = {}
    $:{
      data.forEach((d) =>{
        if ( !(d.week in transformed_data)){
          transformed_data[d.week] = []
        }
        transformed_data[d.week].push(d.total_electrity)
      })
    }
    $: console.log(transformed_data)


    let down_data = {}
    $:{
      data.forEach((d) =>{
        if ( !(d.week in down_data)){
          down_data[d.week] = []
        }
        down_data[d.week].push(d.total_gas)
      })
    }
    $: console.log(down_data)



    let ylinear = scaleLinear()
    .domain([150,1020])
    .range([45, 0]);

    let xlinear = scaleLinear()
    .domain([3,4700])
    .range([0, 45]);

    let xcenter = scaleLinear()
    .domain([0,168])
    .range([200, 0]);

</script>

<svg {width} {height}>
  
  <g transform="translate({margin.left},{margin.top})">

    {#each Object.keys(transformed_data) as semana, i}
      {#if i != 1 & i != 3 }
      
      <g transform="translate(230,{(4-i)*(height/6)+10})">
        <g transform="rotate(-20)">
        <line x1= "0" y1="43" x2="180" y2="42"></line>
      
        <Path data={transformed_data[semana]} ylinear={ylinear} ></Path>
        <!--<Gas dato={down_data[semana]} xlinear={xlinear} ></Gas>-->
      </g>  
      
      </g>
      {:else}
      <g transform="translate(90,{(4-i)*(height/6)- 45})">
        <g transform="rotate(20)">
        <line x1= "-10" y1="43" x2="170" y2="42"></line> 
        <Path data={transformed_data[semana]} ylinear={ylinear} ></Path>
        <!--<Gas dato={down_data[semana]} xlinear={xlinear} ></Gas>-->
      </g>
      </g>

      {/if}
    {/each}
      
    {#each Object.keys(down_data) as semana, i}
    {#if i != 1 & i != 3 }
    <g transform="translate(240,{(4-i)*(height/6)+55})">
      <g transform="rotate(-20)">
      <Gas dato={down_data[semana]} xlinear={xlinear} ></Gas>
      </g>
    </g>
    {:else}
    <g transform="translate(80,{(4-i)*(height/6)})">
      <g transform="rotate(20)">
      <Gas dato={down_data[semana]} xlinear={xlinear} ></Gas>
      </g> 
    </g>

    {/if}
  {/each}
  
  </g>

  
  <line x1=50% y1="10" x2=50% y2= {height - 100 }></line>
  <g transform= "translate({width/2 - 70},{height - 70})"><text font-size= 300% font-family = "Brush Script MT" Times serif font-style = italic> Chicago </text></g>
  <g transform= "translate({width/2 - 120},{height - 25})"><text font-size= 220% font-family = "Times New Roman" Times serif> (December 2014) </text></g>
  
  


</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }

  line {
    stroke: black;
    stroke-width: 3;
  }
</style>