<script>
  let clicked = false;
</script>

<div>
	<center>
  <button class="btn btn-primary" on:click={() => (clicked = true)}>
    click here
  </button>
		</center>
  	<div>
			<center>
			
		{#if clicked }
		You have clicked the button!
    {:else}
    You have to click the button!
    {/if}
				</center>
			</div>
</div>
