<div>
  <!-- This is a comment and comments are not included in the webpage -->

  <head> <title> Hellow world </title></head>
  <body> 
    <h1> Section 1 </h1>
    <h2> Section 2 </h2>
    <h3> Section 3 </h3>
    <h4> Section 4 </h4>
    <h5> Section 5 </h5>
    <h6> Section 6 </h6>
  </body>
  
</div>
