<div>
  <!-- Christian Marceclo Chafla Bastidas (r0874332) -->
  
    <body>
      <p> The best visual channels ordered by Mackinlay's ranking:  </p>
      <ol> 1. Position </ol>
			<ol> 2. Length </ol>
			<ol> 3. Angle	</ol>
    </body>

</div>
