<script>

    const name = 'Christian Chafla';
    const hobbie1 = 'Painting and drawing when in am bored';
    const hobbie2 = 'taking pictures of happy moments in my life'
    const hobbie3 = 'long walks during summer days'
    const hobbie4 = 'watching movies with my friends'
    const student = { name, hobbie1, hobbie2, hobbie3, hobbie4 }
    </script>
    <p>
    My name is {student.name} and these are some of my favourite things: {student.hobbie1} ,{student.hobbie2} ,{student.hobbie3} ,{student.hobbie4} .
    </p>
