<script>
  // Properties
  export let data = [];
  const continents = ["europe", "asia", "americas", "africa"];
  export let current_continet 
  export let current_time 
  
  let my_interval = null;

  let running = false;
  my_interval = setInterval(changeSpeed, 100);

  function changeSpeed(){ 
    if(current_time==214){
      current_time == 0;
    }
    else{
      current_time += 1;
    }
  }

  function start(){
    if(running == false){
       return my_interval = setInterval(changeSpeed, 100);
    }
    else{
      clearInterval(my_interval);
      running = false;
    }
  }

  
  
  
  function stopCounter(){
  clearInterval(my_interval);
  current_time = 0;
  running = false;
  }
</script>

<div class ="row">

<div class = "col-4">
  <button type="button" onclick= "start()" class="btn btn-primary" > Start </button>
  <button type="button" onclick ="stopCounter()" class="btn btn-primary"> Restart </button>
</div>


<div class="col-5">
  <!-- Aqui vamos a poner los botones para el grafico -->
    <label class="form-label col-sm-10">Year: {current_time+1800} <input type="range" class="form-range" min="0" max="214" step="1" bind:value={current_time}></label>
  
</div>

<div class = "col-3">
  <select id="continent-select" class="form-select" bind:value={current_continet}><option value="all">all</option><option value="europe">europe</option><option value="asia">asia</option><option value="americas">americas</option><option value="africa">africa</option></select>
</div>

</div>


