
	
<script>
	let cuenta =0
	let click = false

</script>

	<button on:click={() => (click = true, cuenta+=1)} class = "btn btn-primary"> Clicked {cuenta} times </button>
	<button on:click={() => (click = true, cuenta =0)} class = "btn btn-danger"> Reset </button>




