<script>
	// Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Arrays
  const points = [
    innerWidth / 2 - 60,
    innerWidth / 2 - 30,
    innerWidth / 2,
    innerWidth / 2 + 30,
    innerWidth / 2 + 60
  ];
let color = "darkred";
let index = points.length;
	
	function changeOpacity(){
		if(index < 0){color="darkgreen";}
		else{ index = index-1
				}
		} 
	
let my_range = setInterval(changeOpacity, 1000);
	
</script>
<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
		
    {#each points as p, i}
		<circle cx = {p} cy = 50% r=10 fill ={color} opacity= {i < index ? 0.3 : 1}> </circle>
		{/each}

  </g>
</svg>