<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";
   let year = 0
   let continente = "all"

  // Load the data
  let data = null;
  onMount(async () => {
    data = await json("/data/gapminder.json");
  });

  function get(year, continente){
  let present;
  if (continente != "all"){
   present = data[year]['countries'].filter(d => d.continent == continente);}

  else{
    present = data[year]['countries']}
    return present;
  }
</script>


  {#if !data}
    <p>Loading the data, please wait...</p>
  {:else}
    <div>
      <Scatterplot data={get(year,continente)} />
      <Controls {data} bind:current_continet={continente} bind:current_time={year}/>
    </div>
  {/if}



