<script>
  // Dimensions
	import { scaleLinear } from 'd3-scale';
	import {scaleOrdinal} from 'd3-scale';
  import { scaleLog } from 'd3-scale';
  import * as d3 from 'd3-scale-chromatic';
  import {axisBottom} from 'd3-axis'
  import * as d4 from 'd3'
  import {axisLeft} from 'd3-axis'

	let tableau = scaleOrdinal(d3.schemeTableau10);
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const xscale = scaleLog().domain([300,150000]).range([0, innerWidth])
  const yscale = scaleLinear().domain([90,0]).range([0, innerHeight])
  const rscale = scaleLinear().domain([1,1000000000]).range([1,10])
  export let pepe = null;


  let axis = axisBottom(xscale);

  function printAxis(handle) {
    axis(d4.select(handle))
  }

  let yaxis = axisLeft(yscale)

	function printAxisy(element) {
		yaxis(d4.select(element))
	}

</script>

<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left}, {margin.top})">
  
    

    {#each pepe as datapoint}
    {#if datapoint.income != null & datapoint.life_exp != null}
     <circle cx={xscale(+datapoint.income)}
              cy={yscale(datapoint.life_exp)}
              r= {rscale(datapoint.population)+5}
              style={"fill:" + tableau(datapoint.continent)} />
    {:else}
    null
    {/if}
{/each}

  </g>
  <g use:printAxis transform="translate({margin.left},{height - 50})"> 
    <text x = 50% y =50> x-axis </text>
  </g>

  <g use:printAxisy transform = "translate({margin.left},{50})">
  </g>
  
  <g class="tick" opacity="1" transform="translate({margin.left+ 200},{height - 30})"><text fill="currentColor" y="5" dy="0.75em" font-size= 115%> GDP per Capita</text></g>
  <g class="tick" opacity="0.5" transform="translate({margin.left+ 460},{height - 100})"><text fill="currentColor" y="5" dy="0.75em" font-size= 250% > 1800 </text></g>
  <g class="tick" opacity="1" transform="translate({margin.left+ 100},{10})"><text fill="currentColor" y="5" dy="0.75em" font-size= 225% > Gapminder Scatterplot </text></g>
  <g class="tick" opacity="1" transform="translate({margin.left -50},{260})"><text fill="currentColor"  y="5" dy="0.75em" font-size= 115% transform = rotate(-90)> Life Expectancy </text></g>
</svg>

<style>
  circle {
   opacity: 0.75;
  }

</style>