<script>
  import * as d3 from 'd3';
  import {axisBottom} from 'd3-axis'
  import {scaleLog} from 'd3-scale'

   const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  let log = scaleLog()
    .domain([1,10])
    .range([0,innerWidth]);

  let axis = axisBottom(log);

  function printAxis(handle) {
    axis(d3.select(handle))
  }
  const values = [2, 4, 6, 7, 9];
</script>

<svg viewBox="0 0 {width} {height}">
  <g class = "logcircles" transform="translate({margin.left},{margin.top - 15})">
    {#each values as num}
    <circle cx = {log(num)} cy = 50% r=10 />
    {/each}
   </g>	
   
  <g use:printAxis transform="translate({margin.left},{height - 35})"> 
  </g>
  <g class="tick" opacity="1" transform="translate({margin.left+ 400},{height - 25})">
    <text fill="currentColor" y="9" dy="0.71em">Label X</text>
  </g>
</svg>

<style>
  circle {
    fill: steelblue;
  }
  text {
    font:10px sans-serif
  }
</style>