<script>
	import { scaleLinear } from 'd3-scale';
	import {scaleOrdinal} from 'd3-scale';
  import * as d3 from 'd3-scale-chromatic';
	let tableau = scaleOrdinal(d3.schemeDark2);
	
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
	const scaleX = scaleLinear().domain([0,4]).range([0,300])
  const scaleY = scaleLinear().domain([-1,4]).range([90,0])
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as value}
		<line x1={scaleX(value.x)} y1={scaleY(value.y)} x2={scaleX(value.x)} y2={height-25}/>
		<circle cx={scaleX(value.x)} cy={scaleY(value.y)} r=8 
						style={"fill:" + tableau(value.category)}
		
						/>
	<text x={scaleX(value.x)} y={scaleY(value.y)-10}> {value.y} </text>
		
		{/each}
			<line x1="5" y1={height-25} x2={width-5} y2={height-25}/>
  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
	line {
                stroke: black;
		stroke-width: 1;}

	
</style>
