<script>
	import { scaleLinear } from 'd3-scale';
	import * as d3 from 'd3';
  // Dimensions
	
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
	const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
	
	let scale = d3.scaleBand()
	.domain(['Netflix', 'Amzon Prime Video', 'Disney+', 'Hulu', 'Apple Tv', 'Rakuten'])
	.range([0,innerWidth])
	.paddingInner(0.3)
	.align(0.5)

	let yscale = d3.scaleLinear()
	.domain([0,3])
	.range([innerHeight,0])
	
	let yaxis = d3.axisLeft(yscale)
	function printAxisy(element) {
		yaxis(d3.select(element))
	}
	
	let xaxis = d3.axisBottom(scale);
	function printAxis(element) {
    xaxis(d3.select(element))
  }

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];
</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
   {#each data as tall, i}
      <rect x = {90*(5-i)} y = {innerHeight -yscale(tall.viewers)} width={scale.bandwidth()} height= {yscale(tall.viewers)} fill="steelblue"></rect>
      {/each}
		 </g>
	
	<g use:printAxis transform="translate({margin.left},{height-20})"> 
    <text x = 50% y =50> x-axis </text>
		</g>
	<g use:printAxisy transform = "translate(50,20)">
		</g>
    

    <g class="tick" opacity="1" transform="translate({margin.left -60},{190})"><text fill="currentColor"  
      y="5" dy="0.75em" font-size= 70% 
      transform = rotate(-90)> Viewers (Million)</text>
    </g>


</svg>