<script>
 import {onMount} from 'svelte'
 import {json} from 'd3-fetch'
 import ScatterPlot from './_ex_7_scatterplot.svelte'

 let data = null;
    onMount(async () => {
        data = await json('/data/gapminder.json');
    });

</script>



{#if data == null}
    <p> Data is been loading</p>
{:else}
    <ScatterPlot pepe = {data[0].countries}/>
{/if}

